doctype html
html.touch-styles(xmlns:og='http://opengraphprotocol.org/schema/', xmlns:fb='http://www.facebook.com/2008/fbml', xmlns:website='http://ogp.me/ns/website', lang='en-US', itemscope='', itemtype='http://schema.org/WebPage')
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    base(href='')
    meta(charset='utf-8')
    title #{title}
    link(rel='shortcut icon', type='image/x-icon', href='favicon.ico')
    link(rel='canonical', href='index.html')
    meta(property='og:site_name', content=' ')
    meta(property='og:title', content="Arthur and Timberly's Wedding")
    meta(property='og:url', content='http://www.arthurtimberly.com/')
    meta(property='og:type', content='website')
    meta(itemprop='name', content='NO-Wedding')
    meta(itemprop='url', content='http://www.arthurtimberly.com/')
    meta(name='twitter:title', content='NO-Wedding')
    meta(name='twitter:url', content='http://www.arthurtimberly.com/')
    meta(name='twitter:card', content='summary')
    meta(name='description', content='')
    script(type='text/javascript', src='/wedding/assets/typekit.js')
    script(type='text/javascript', src='/wedding/assets/YUI-min.js')
    script(type='text/javascript').
      try {
      Typekit.load();
      } catch (e) {}
    link(rel='alternate', type='application/rss+xml', title='RSS Feed', href='wedding-format=RSS.rss')
    //if gte IE 9
      link(rel='stylesheet', type='text/css', href='http://static1.squarespace.com/static/sitecss/5768a14e44024398993b5f2c/2/52a74dafe4b073a80cd253c5/5768a14e44024398993b5f32/961-05142015/1468482177504/site.css?&filterFeatures=false&part=1')
      link(rel='stylesheet', type='text/css', href='http://static1.squarespace.com/static/sitecss/5768a14e44024398993b5f2c/2/52a74dafe4b073a80cd253c5/5768a14e44024398993b5f32/961-05142015/1468482177504/site.css?&filterFeatures=false&part=2')
      link(rel='stylesheet', type='text/css', href='http://static1.squarespace.com/static/sitecss/5768a14e44024398993b5f2c/2/52a74dafe4b073a80cd253c5/5768a14e44024398993b5f32/961-05142015/1468482177504/site.css?&filterFeatures=false&part=3')
      link(rel='stylesheet', type='text/css', href='http://static1.squarespace.com/static/sitecss/5768a14e44024398993b5f2c/2/52a74dafe4b073a80cd253c5/5768a14e44024398993b5f32/961-05142015/1468482177504/site.css?&filterFeatures=false&part=4')
    //if lt IE 9
      link(rel='stylesheet', type='text/css', href='http://static1.squarespace.com/static/sitecss/5768a14e44024398993b5f2c/2/52a74dafe4b073a80cd253c5/5768a14e44024398993b5f32/961-05142015/1468482177504/site.css?&filterFeatures=false&noMedia=true&part=1')
      link(rel='stylesheet', type='text/css', href='http://static1.squarespace.com/static/sitecss/5768a14e44024398993b5f2c/2/52a74dafe4b073a80cd253c5/5768a14e44024398993b5f32/961-05142015/1468482177504/site.css?&filterFeatures=false&noMedia=true&part=2')
      link(rel='stylesheet', type='text/css', href='http://static1.squarespace.com/static/sitecss/5768a14e44024398993b5f2c/2/52a74dafe4b073a80cd253c5/5768a14e44024398993b5f32/961-05142015/1468482177504/site.css?&filterFeatures=false&noMedia=true&part=3')
      link(rel='stylesheet', type='text/css', href='http://static1.squarespace.com/static/sitecss/5768a14e44024398993b5f2c/2/52a74dafe4b073a80cd253c5/5768a14e44024398993b5f32/961-05142015/1468482177504/site.css?&filterFeatures=false&noMedia=true&part=4')
    //if !IE
    link(rel='stylesheet', type='text/css', href='/wedding/assets/site.css')
    // <![endif]
    // End of Squarespace Headers
    script.
      /* Must be below squarespace-headers */
      (function() {
      var e = 'ontouchstart' in window || navigator.msMaxTouchPoints;
      var t = document.documentElement;
      if (!e && t) {
      t.className = t.className.replace(/touch-styles/, '')
      }
      })()
  body#collection-578742586a49637b8a1ba40d.transparent-header.enable-nav-button.nav-button-style-outline.nav-button-corner-style-rounded.banner-button-style-raised.banner-button-corner-style-rounded.banner-slideshow-controls-arrows.meta-priority-date.hide-entry-author.hide-list-entry-footer.hide-sidebar-title.hide-blog-sidebar.center-navigation--info.event-thumbnails.event-thumbnail-size-32-standard.event-date-label.event-date-label-time.event-list-show-cats.event-list-date.event-list-time.event-list-address.event-icalgcal-links.event-excerpts.event-item-back-link.gallery-design-grid.aspect-ratio-auto.lightbox-style-light.gallery-navigation-bullets.gallery-info-overlay-show-on-hover.gallery-aspect-ratio-32-standard.gallery-arrow-style-no-background.gallery-transitions-fade.gallery-show-arrows.gallery-auto-crop.product-list-titles-under.product-list-alignment-center.product-item-size-11-square.product-image-auto-crop.product-gallery-size-11-square.show-product-price.show-product-item-nav.product-social-sharing.opentable-style-light.newsletter-style-light.small-button-style-solid.small-button-shape-square.medium-button-style-solid.medium-button-shape-square.large-button-style-solid.large-button-shape-square.button-style-solid.button-corner-style-square.tweak-product-quick-view-button-style-floating.tweak-product-quick-view-button-position-bottom.tweak-product-quick-view-lightbox-excerpt-display-truncate.tweak-product-quick-view-lightbox-show-arrows.tweak-product-quick-view-lightbox-show-close-button.tweak-product-quick-view-lightbox-controls-weight-light.native-currency-code-usd.collection-type-index.collection-layout-default.collection-578742586a49637b8a1ba40d.homepage.view-list.mobile-style-available.has-banner-image.index-page
    input#mobileNavToggle.mobile-nav-toggle-box.hidden(type='checkbox', name='mobile-nav-toggle')
    a.body-overlay(href='index.html#')
    .sqs-announcement-bar-dropzone
    #sidecarNav
      #mobileNavWrapper.nav-wrapper(data-content-field='navigation-mobileNav')
        nav#mobileNavigation
          .index.active.homepage
            a(href='index.html')
              | NO-Wedding
          .index
            a(href='location/index.html')
              | Location
          .collection
            a(href='gifts/index.html')
              | Gifts
          .collection
            a(href='rsvp/index.html')
              | RSVP
    #siteWrapper.clearfix
      .sqs-cart-dropzone
      header#header.show-on-scroll(data-offset-el='.index-section', data-offset-behavior='bottom', role='banner')
        .header-inner
          #siteTitleWrapper.wrapper(data-content-field='site-title')
            h1#siteTitle.site-title
              a(href='index.html')  
          //
            comment the linebreak between these two elements because science
          label.mobile-nav-toggle-label(for='mobileNavToggle')
            .top-bar
            .middle-bar
            .bottom-bar
          label.mobile-nav-toggle-label.fixed-nav-toggle-label(for='mobileNavToggle')
            .top-bar
            .middle-bar
            .bottom-bar
          //
            comment the linebreak between these two elements because science
          #headerNav
            #mainNavWrapper.nav-wrapper(data-content-field='navigation-mainNav')
              nav#mainNavigation(data-content-field='navigation-mainNav')
                .index.active.homepage
                  a(href='index.html')
                    | NO-Wedding
                .index
                  a(href='location/index.html')
                    | Location
                .collection
                  a(href='gifts/index.html')
                    | Gifts
                .collection
                  a(href='rsvp/index.html')
                    | RSVP
            // style below blocks out the mobile nav toggle only when nav is loaded
            style.
              .mobile-nav-toggle-label {
              display: inline-block !important;
              }
      main#page(role='main')
        //
          comment the linebreak between these two elements because science
        //
          comment the linebreak between these two elements because science
        #content.main-content(data-content-field='main-content', data-collection-id='578742586a49637b8a1ba40d')
          // Create index sections
          #home.index-section(data-url-id='home', data-collection-id='5768a18dd1758ea78688f4d9', data-edit-main-image='Banner')
            .promoted-gallery-wrapper
            .banner-thumbnail-wrapper.has-description(data-content-field='main-image')
              .color-overlay
              figure#thumbnail.loading.content-fill
                img(data-src='#{homeImage}', data-image-dimensions='5000x3333', data-image-focal-point='0.5,0.5', alt='160711_010.jpg')
              .desc-wrapper(data-content-field='description')
                p
                  strong Arthur and Timberly's Wedding
                p.wedding-date-location October 30, 2016 Â· Wente Vineyards, Livermore, CA
                div.clearfix
                  div(style="float:left; width: 50%;")
                    p
                      a(href='rsvp.html', class='hk-btn' style="width: 150px;") Hong Kong
                  div(style="float:right; width: 50%;")
                    p
                      a(href='rsvp.html', class='hk-btn' style="width: 150px;") Macau
            .index-section-wrapper.page-content
              .content-inner.has-content(data-content-field='main-content')
                #page-5768a18dd1758ea78688f4d9.sqs-layout.sqs-grid-12.columns-12(data-type='page', data-updated-on='1467174383459')
                  .row.sqs-row
                    .col.sqs-col-12.span-12
                      #block-bb547699933453c589b0.sqs-block.html-block.sqs-block-html(data-block-type='2')
                        .sqs-block-content
                          h1.text-align-center ðŸ˜We are getting married!ðŸ’‘
                      .row.sqs-row
                        each imageData in images
                              .col.sqs-col-4.span-4
                                .sqs-block.image-block
                                    img.thumb-image(src='#{imageData.thumb}')
                      #block-yui_3_17_2_3_1466475625216_11809.sqs-block.html-block.sqs-block-html(data-block-type='2')
                        .sqs-block-content
                          blockquote.text-align-center Yep, its happening!
          #arrival.index-section(data-url-id='arrival', data-collection-id='5768a506e6f2e199f342f811', data-edit-main-image='Banner')
            .promoted-gallery-wrapper
            .banner-thumbnail-wrapper.has-description(data-content-field='main-image')
              .color-overlay
              figure#thumbnail.loading.content-fill
                img(data-src='#{hostPlaceImage}', data-image='#{hostPlaceImage}', data-image-dimensions='2216x717', data-image-focal-point='0.5,0.5', alt='Screen Shot 2016-06-20 at 7.29.38 PM.png')
              .desc-wrapper(data-content-field='description')
                p Come celebrate with us
                p
                  strong October, 30th, 2016
                p Wente Vineyard
            .index-section-wrapper.page-content
              .content-inner.has-content(data-content-field='main-content')
                #page-5768a506e6f2e199f342f811.sqs-layout.sqs-grid-12.columns-12(data-type='page', data-updated-on='1467175491284')
                  .row.sqs-row
                    .col.sqs-col-3.span-3
                      #block-yui_3_17_2_1_1407189396945_18833.sqs-block.spacer-block.sqs-block-spacer.sized.vsize-1(data-block-type='21')
                        .sqs-block-content Â 
                    .col.sqs-col-6.span-6
                      #block-4a8536c6bfcd96f2852c.sqs-block.html-block.sqs-block-html(data-block-type='2')
                        .sqs-block-content
                          h2.text-align-center Schedule (Temporary)
                          p.text-align-center
                            strong 16:30
                            | Â Arrival and sign in
                          p.text-align-center
                            strong 17:00
                            |  Wedding Ceremony
                          p.text-align-center
                            strong 17:30
                            |  Cocktail Hour
                          p.text-align-center
                            strong 19:00
                            |  Dinner
                          p.text-align-center
                            strong 20:00
                            |  Cake Cutting & Party
                          p.text-align-center
                            strong 22:00
                            |  Time for Home
                          p.text-align-center (Make sure you check back again for a finalized schedule)
                    .col.sqs-col-3.span-3
                      #block-yui_3_17_2_1_1407189396945_20696.sqs-block.spacer-block.sqs-block-spacer.sized.vsize-1(data-block-type='21')
                        .sqs-block-content Â 
          #wedding-day.index-section(data-url-id='wedding-day', data-collection-id='577223ebd2b85749fa670d80', data-edit-main-image='Banner')
            .promoted-gallery-wrapper
            .banner-thumbnail-wrapper.has-description(data-content-field='main-image')
              .color-overlay
              figure#thumbnail.loading.content-fill
                img(data-src='#{footerImage}', data-image='#{footeImage}', data-image-dimensions='4500x3000', data-image-focal-point='0.5,0.5', alt='DSC08168.jpg')
              .desc-wrapper(data-content-field='description')
                p
                  strong We are super excited about you joining us
                p You should be too...
            .index-section-wrapper.page-content
              .content-inner.has-content(data-content-field='main-content')
                #page-5768ab09bebafb9ef35de36d.sqs-layout.sqs-grid-12.columns-12(data-type='page', data-updated-on='1467100427949')
                  .row.sqs-row
                    .col.sqs-col-3.span-3
                      #block-yui_3_17_2_1_1407260301764_80923.sqs-block.spacer-block.sqs-block-spacer.sized.vsize-1(data-block-type='21')
                        .sqs-block-content Â 
                    .col.sqs-col-6.span-6
                      #block-yui_3_17_2_1_1407260301764_51578.sqs-block.html-block.sqs-block-html(data-block-type='2')
                        .sqs-block-content
                          h1.text-align-center Directions
                          p.text-align-center Once again, its -
                          p.text-align-center
                            strong 5040 Arroyo Road Livermore, CA, 94550, United States
                          p.text-align-center Expect some traffic heading over there!
                    .col.sqs-col-3.span-3
                      #block-yui_3_17_2_1_1407260301764_79910.sqs-block.spacer-block.sqs-block-spacer.sized.vsize-1(data-block-type='21')
                        .sqs-block-content Â 
                  .row.sqs-row
                    .col.sqs-col-2.span-2
                      #block-yui_3_17_2_1_1407260301764_48348.sqs-block.spacer-block.sqs-block-spacer.sized.vsize-1(data-block-type='21')
                        .sqs-block-content Â 
                    .col.sqs-col-8.span-8
                      div#map-container
                        div#map(style="height: 400px;")
                      //- #block-yui_3_17_2_1_1407260301764_32675.sqs-block.map-block.sqs-block-map(data-aspect-ratio='38.9937106918239', data-block-json='{"location":{"addressTitle":"Wente Vineyards","addressLine1":"5040 Arroyo Road","addressLine2":"Livermore, CA, 94550","addressCountry":"United States","markerLat":37.6233657,"markerLng":-121.75711109999997,"mapLat":37.6233657,"mapLng":-121.75711109999997,"mapZoom":12},"vSize":null,"hSize":null,"floatDir":null,"aspectRatio":38.9937106918239,"style":1,"labels":true,"terrain":false,"controls":false}', data-block-type='4')
                      //-   .sqs-block-content Â 
                    .col.sqs-col-2.span-2
                      #block-yui_3_17_2_1_1407260301764_49140.sqs-block.spacer-block.sqs-block-spacer.sized.vsize-1(data-block-type='21')
                        .sqs-block-content Â 
                  .row.sqs-row
                    .col.sqs-col-3.span-3
                      #block-yui_3_17_2_1_1407260301764_40505.sqs-block.spacer-block.sqs-block-spacer.sized.vsize-1(data-block-type='21')
                        .sqs-block-content Â 
                    .col.sqs-col-9.span-9
                      .row.sqs-row
                        .col.sqs-col-6.span-6
                          .row.sqs-row
                            .col.sqs-col-3.span-3
                              #block-yui_3_17_2_1_1407259186037_48437.sqs-block.html-block.sqs-block-html(data-block-type='2')
                                .sqs-block-content
                                  h3.text-align-center Â 
                                  h3.text-align-center flying
                                  p.text-align-center Try flying to SJC, its closer
                            .col.sqs-col-3.span-3
                              #block-yui_3_17_2_1_1407260301764_45003.sqs-block.html-block.sqs-block-html(data-block-type='2')
                                .sqs-block-content
                                  h3.text-align-center Â 
                                  h3.text-align-center Driving
                                  p.text-align-center Seriously, just google map it!
                        .col.sqs-col-3.span-3
                          #block-yui_3_17_2_1_1407260301764_42531.sqs-block.spacer-block.sqs-block-spacer.sized.vsize-1(data-block-type='21')
                            .sqs-block-content
            .index-section-wrapper.page-content
              .content-inner.has-content(data-content-field='main-content')
                #page-577223ebd2b85749fa670d80.sqs-layout.sqs-grid-12.columns-12(data-type='page', data-updated-on='1467098859208')
                  .row.sqs-row
                    .col.sqs-col-3.span-3
                      #block-yui_3_17_2_1_1407189396945_20696.sqs-block.spacer-block.sqs-block-spacer.sized.vsize-1(data-block-type='21')
                        .sqs-block-content Â 
                    .col.sqs-col-6.span-6
                      #block-yui_3_17_2_1_1407189396945_225520.sqs-block.html-block.sqs-block-html(data-block-type='2')
                        .sqs-block-content
                          h2.text-align-center Have questions?
                          h3.text-align-center Call meÂ 
                          p.text-align-center(dir='ltr') 408-476-5953
                          h3.text-align-center email MEÂ 
                          p.text-align-center owenc.817@gmail.com
                    .col.sqs-col-3.span-3
                      #block-yui_3_17_2_1_1407189396945_18833.sqs-block.spacer-block.sqs-block-spacer.sized.vsize-1(data-block-type='21')
                        .sqs-block-content Â 
        //
          comment the linebreak between these two elements because science
      #preFooter
        .pre-footer-inner
          #preFooterBlocks.sqs-layout.sqs-grid-12.columns-12.empty(data-layout-label='Pre-Footer Content', data-type='block-field', data-updated-on='1406136995340')
            .row.sqs-row
              .col.sqs-col-12.span-12
      footer#footer(role='contentinfo')
        .footer-inner
          .nav-wrapper.back-to-top-nav
            nav
              .back-to-top
                a(href='index.html#header') Back to Top
          #footerBlocks.sqs-layout.sqs-grid-12.columns-12(data-layout-label='Footer Content', data-type='block-field', data-updated-on='1466476701572')
            .row.sqs-row
              .col.sqs-col-12.span-12
                #block-713fe491a2c303b33937.sqs-block.html-block.sqs-block-html(data-block-type='2')
                  .sqs-block-content
                    p.text-align-center See you there =)
    script(type='text/javascript', src='/wedding/assets/site-bundle.js')
    script(type='text/javascript', data-sqs-type='imageloader-bootstraper').
      (function() {
      if (window.ImageLoader) {
      window.ImageLoader.bootstrap();
      }
      })();
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyACGHtQ_95KW0yN2nZOCNPn07VNa3pEROg')
    script(src='/wedding/assets/map.js')

