#footer-image-section.image-container
  .bg-image-footer.bg-image-wedding.bg-center-top(alt='')
    .color-overlay
  .desc-wrapper
    h1.display-2 #{i18n("footer:title")}
    p #{i18n("footer:txt1")}
.jumbotron
  .container
    .row
      h2.text-center.entrytitle #{i18n("directions:title")}
    .row.spaces
      .col-md-2
      .col-md-8
        #map(style='height: 400px;')
      .col-md-2
    .row.spaces
      p.text-center #{i18n("directions:txt1")}
      h4.text-center.sm-heading #{i18n(location + ":directions:txt2")}
      p.text-center #{i18n(location + ":directions:txt3")}
