- var shareText = location + ":sharetext"
footer#footer
  .footer-inner.container
    .row
      .col-md-12
          p.text-center #{i18n("footer:see_you_there")}
    .row
      .col-md-4
      .col-md-4
        a.text-center.nav-link.rsvp-link(href='/rsvp') 
          | #{i18n(location + ":rsvp:button")}
      .col-md-4
    .row
      .col-md-12
          p.text-center.share-links
            a(href="https://twitter.com/intent/tweet?url=http%3A%2F%2Farthurtimberly.com&text=#{i18n(shareText)}" target="_blank")
              i.fa.fa-2x.fa-twitter-square(aria-hidden="true", style="margin-right: 4px;")
            a(href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Farthurtimberly.com" target="_blank")
              i.fa.fa-2x.fa-facebook-square(aria-hidden="true")
            a(href="https://plus.google.com/share?url=http%3A%2F%2Farthurtimberly.com" target="_blank")  
              i.fa.fa-2x.fa-google-plus-square(aria-hidden="true")
            a(href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Farthurtimberly.com&title=#{i18n(shareText)}" target="_blank")  
              i.fa.fa-2x.fa-linkedin-square(aria-hidden="true")
            a(href="http://www.tumblr.com/share?v=3&u=http%3A%2F%2Farthurtimberly.com&t=#{i18n(shareText)})" target="_blank")  
              i.fa.fa-2x.fa-tumblr-square(aria-hidden="true")
            a(href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Farthurtimberly.com&media=&description=#{i18n(shareText)}" target="_blank")  
              i.fa.fa-2x.fa-pinterest-square(aria-hidden="true")