#hk-image-section.image-container
  .bg-image-hk.bg-image-wedding.bg-center-center(alt='')
    .color-overlay
  .desc-wrapper
    p #{i18n("schedule:txt1")}
    h1.display-2 #{i18n("schedule:date")}
    p #{i18n("schedule:location")}
.jumbotron
  .container
    .row
      h2.text-center.entrytitle Schedule (Temporary)
    .row.spaces
      p.text-center
        strong 16:30
        |  #{i18n("schedule:1630")}
      p.text-center
        strong 17:00
        |  #{i18n("schedule:1700")}
      p.text-center
        strong 17:30
        |  #{i18n("schedule:1730")}
      p.text-center
        strong 19:00
        |  #{i18n("schedule:1900")}
      p.text-center
        strong 20:00
        |  #{i18n("schedule:2000")}
      p.text-center
        strong 22:00
        |  #{i18n("schedule:2200")}
      p.text-center #{i18n("schedule:txt2")}