#hk-image-section.image-container
  .bg-image-wedding.bg-center-center(class=(location == "hk" ? "bg-image-hk" : "bg-image-macau") alt='' data-bottom-top='transform:scale(1.2) translate(-8%, 8%)' data-top-bottom='transform:scale(1.2) translate(8%, 8%)')
    .color-overlay
  .desc-wrapper(class=(location == "hk" ? "hk-desc-wrapper" : "macau-desc-wrapper"))
    p #{i18n(location + ':schedule:text1')}
    h1.display #{i18n(location + ':schedule:text2')}
    p #{i18n(location + ':schedule:text3')}
.jumbotron
  .container
    .row
      h2.text-center.entrytitle #{i18n('schedule:title')}
    .row.spaces
      p.text-center
        strong #{i18n(location + ":schedule:time:1")}
        |  #{i18n(location + ":schedule:1")}
      p.text-center
        strong #{i18n(location + ":schedule:time:2")}
        |  #{i18n(location + ":schedule:2")}
      p.text-center
        strong #{i18n(location + ":schedule:time:3")}
        |  #{i18n(location + ":schedule:3")}
      p.text-center
        strong #{i18n(location + ":schedule:time:4")}
        |  #{i18n(location + ":schedule:4")}
      p.text-center
        strong #{i18n(location + ":schedule:time:5")}
        |  #{i18n(location + ":schedule:5")}
      p.text-center
        strong #{i18n(location + ":schedule:time:6")}
        |  #{i18n(location + ":schedule:6")}
      p.text-center #{i18n("schedule:txt2")}
    .row
      .col-md-3
      div.col-md-6.text-center.description
        | #{i18n(location + ":schedule:desc")}
      .col-md-3