#hk-image-section.image-container
  .bg-image-hk.bg-image-wedding.bg-center-center(alt='')
    .color-overlay
  .desc-wrapper
    p #{i18n("schedule:txt1")}
    h1.display-2 #{i18n("schedule:date")}
    p #{i18n("schedule:location")}
.jumbotron
  .container
    .row
      h2.text-center.entrytitle Schedule (Temporary)
    .row.spaces
      p.text-center
        strong 17:30
        |  #{i18n("schedule:1")}
      p.text-center
        strong 18:00
        |  #{i18n("schedule:2")}
      p.text-center
        strong 18:00
        |  #{i18n("schedule:3")}
      p.text-center
        strong 19:30
        |  #{i18n("schedule:4")}
      p.text-center
        strong 20:30
        |  #{i18n("schedule:5")}
      p.text-center
        strong 22:00
        |  #{i18n("schedule:6")}
      p.text-center #{i18n("schedule:txt2")}
    .row
      .col-md-3
      div.col-md-6.text-center.description
        | #{i18n("description:txt1")}
      .col-md-3