#form-section.jumbotron
  .container
    .row
      .col-md-1
      .col-md-10
        p #{i18n('rsvp:txt1')}
      .col-md-1
    .row
      .col-md-1
      .col-md-10
        form(action="/rsvp", method="post", enctype="application/x-www-form-urlencoded")
          fieldset
            if error
              .form-group.alert.alert-danger
                each err in error
                  .row #{err}
            .form-group
              label #{i18n('rsvp:name')}
                sup *
              .row
                .col-md-6
                  input(type="text", name="firstName" class="form-control", value=locals.firstName)
                  label(class="caption") #{i18n('rsvp:first_name')}
                .col-md-6
                  input(type="text", name="lastName" class="form-control", value=locals.lastName)
                  label(class="caption") #{i18n('rsvp:last_name')}
            .form-group
              label #{i18n('rsvp:email_address')}
              input(type="text", name="emailAddress" class="form-control", value=locals.emailAddress)
            .form-group
              label #{i18n('rsvp:location')}
              div.form-check
                label.form-check-label
                  input.form-check-input(type="radio", name="location", value="hk") 
                  | &nbsp;#{i18n('hk:wedding:option')}
              div.form-check
                label.form-check-label
                  input.form-check-input(type="radio", name="location", value="macau") 
                  | &nbsp;#{i18n('macau:wedding:option')}
            .form-group
              label #{i18n('rsvp:will_you_be_there')}
                sup *
              input(type="text", name="willYouBeThere" class="form-control" value=locals.willYouBeThere)
            .form-group
              label #{i18n('rsvp:guests')}
              input(type="text", name="numberOfGuests" class="form-control" value=locals.numberOfGuests)
            .form-group
              label #{i18n('rsvp:message')}
              textarea(name="message", class="form-control")
            .form-group
              label #{i18n('rsvp:recaptcha')}
              div.g-recaptcha(data-sitekey="6LehpSgTAAAAAOrqf6mQGVMn2OvZd3bZeEXBCmya")
          div(class="text-center")
            input.submit-btn(type='submit', name='submit', value="#{i18n('rsvp:submit')}")
      .col-md-1
    .row
      .col-md-1
      .col-md-10  
        p(class="success-message") #{i18n('rsvp:success')}
      .col-md-1